    font-size:15px;
    font-family: Georgia, Serif;
    color: rgb(240,240,240);
    background-color:rgba(0,0,0,0.5); 

}
	.escrito_1 p{
		width: 100%;
    	margin-top: 40%;
	}

/*de aqui en adelante es el segundo botón de la pagina menú*/
.elemento_2{
	background-image:url("C:/Users/Luciel/Documents/GitHub/p.aucan/img/externos_boton.jpg");
    background-repeat: no-repeat;
    float: left;
    width: 20%;
    height: 450px;
    margin-right: 0.6%;
    margin-top: 0%;
    margin-left: 0.6%;
    text-align: right;
    min-width: 210px;
    margin-bottom: 1%;
}
.elemento_3{
	background-image:url("C:/Users/Luciel/Documents/GitHub/p.aucan/img/personal_boton.jpg");
    background-repeat: no-repeat;
    float: left;
    width: 20%;
    height: 450px;
    margin-right: 0.6%;
    margin-top: 0%;
    margin-left: 0.6%;
    text-align: right;
    min-width: 210px;
    margin-bottom: 1%;
}
.bloque_1{
	display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: normal;
    font-style: normal;
    vertical-align: baseline;
}
.texto_vertical1{
	color: #ffffff;
	font-family: Arial;
	text-align: left;
	writing-mode: vertical-lr;
	transform: rotate(180deg);
    width: 100%;
    margin-top: 40%;
}

/*de aqui en adelante es el tercer botón de la pagina menú*/
